{% extends "header.html" %} {% block app_content %}

<link rel="stylesheet" href="/static/css/progress-circle.css">

{% block templateScripts %}
<!-- JS config -->
<script type="text/javascript"   src="/static/js/config_{{config.APP_NAME}}.js"></script>

<!-- Checklist submodule JS library -->
<script type="text/javascript"  
  src="{{url_for ('checklists.load_js', filename = 'checklist.js')}}"></script>
{% endblock templateScripts %}

<br>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-2">
      <a href="{{url_for('checklists.view_checklists')}}" <button class="btn btn-lg btn-light"><i
          class="fa fa-chevron-left"></i> Back</button></a>
    </div>
    <div class="col-12 col-lg-10">
      <h1><i class="fa fa-clipboard-list"></i> {{checklist_group.title}}</h1>
      <h4>{{checklist_group.description}}</h4>
      <em>created by {{checklist_group.created_by.username}}</em>
    </div>
  </div>
  <hr>

  <!-- Admin can add a new checklist-->
  {% if current_user.is_admin %}

  <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-users-group">
    </i> Add checklists to this group
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for checklist in unadded_checklists %}
    <a class="dropdown-item"
      href="{{url_for('checklists.add_checklist_to_group', checklist_group_id = checklist_group.id, checklist_id = checklist.id)}}">{{checklist.title}}</a>
    {% endfor %}
  </div>

  <a href="{{url_for('checklists.unset_checklist_group',checklist_group_id = checklist_group.id)}}"><button
      class="btn btn-outline-warning"><i class="fa fa-trash"></i> Unset checklist group</button></a>
  <a href="{{url_for('checklists.add_checklist_group',checklist_group_id = checklist_group.id)}}"><button
      class="btn btn-outline-info"><i class="fa fa-edit"></i> Edit group details</button></a>
  <a href="{{url_for('checklists.delete_checklist_group',checklist_group_id = checklist_group.id)}}"><button
      class="btn btn-outline-danger float-right"><i class="fa fa-trash"></i> Delete checklist group</button></a>
  <br><br>
  {% endif %}

  <!-- Only show checklist items if they exist -->
  {% if checklist_group_info.checklists != [] %}
  {% for checklist in checklist_group_info.checklists %}
  <h3>{{checklist.title}}</h3>
  <div id=checklist-{{checklist.id}} class="row">

    <!-- Widget with cirular progress bar-->
    <div class="col-12 col-md-4 text-center">
      <div class="counter">
        <div id="progress-circle" class="progress-circle progress-{{checklist.completed_progress_percentage}}">
          <span>{{checklist.completed_progress_percentage}}</span></div>
        <p class="card-text"><small class="text-muted">{{checklist.remaining_items}}
            {{'item' if checklist.remaining_items == 1 else 'items'}} remaining</small></p>
      </div>
    </div>

    <!-- Detailed checklist view-->
    <div class="col-12 col-lg-6">
      <div class="counter">
        <div class="container">
          <ul class="list-group">
            {% for item in checklist.checklist_items %}
            <div class="custom-control custom-checkbox">
              <input type="checkbox" {{ 'checked' if item.completed == True else '' }} class="custom-control-input"
                id="checklist-item-{{item.id}}">
              <label class="custom-control-label" for="checklist-item-{{item.id}}">{{item.title}}</label>
              <a href="{{url_for('checklists.remove_checklist_item',checklist_item_id = item.id)}}">
                <button class="btn btn-sm btn-outline-warning float-right"><i class="fa fa-trash"></i></button></a>
            </div>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}

  {% endblock %}