{% extends "header.html" %} {% block app_content %}

<link rel="stylesheet" href="/static/css/progress-circle.css">

{% block templateScripts %}
<!-- Consultations submodule library -->
<script src="{{url_for ('checklists.load_js', filename = 'checklist.js')}}"></script>

<script>
  // Define variables that are used by the checklist JS 
  var checklist_id = '{{ checklist.id }}';
</script>
{% endblock templateScripts %}

<br>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-2">
      <a href="{{url_for('checklists.view_checklists')}}" <button class="btn btn-lg btn-light"><i
        class="fa fa-chevron-left"></i> Back</button></a>
    </div>
    <div class="col-12 col-lg-10">
      <h1><i class="fa fa-clipboard-list"></i> {{checklist.title}}</h1>
    </div>
  </div>
  <hr>

  <!-- Admin can add a new checklist-->
  {% if current_user.is_admin %}
  <a href="{{url_for('checklists.add_checklist_item', checklist_id = checklist.id)}}" <button
    class="btn btn-lg btn-outline-success"><i class="fa fa-plus-circle"></i> Add new item</button></a>
  <br><br>
  {% endif %}

  <div class="row text-center">

    <!-- Widget with cirular progress bar-->
    <div class="col-12 col-md-4">
      <div class="counter">
        <div id="progress-circle" class="progress-circle progress-{{checklist.completed_progress_percentage}}">
          <span>{{checklist_info.completed_progress_percentage}}</span></div>
        <p class="card-text"><small class="text-muted">{{checklist_info.remaining_items}}
            {{'item' if checklist_info.remaining_items == 1 else 'items'}} remaining</small></p>
      </div>
    </div>

    <!-- Detailed checklist view-->
    <div class="col-12 col-lg-6">
      <div class="counter">
        <div class="container">
          <ul class="list-group">
            {% for item in checklist_info.checklist_items %}
            <div class="custom-control custom-checkbox">
              <input type="checkbox" {{ 'checked' if item.completed == True else '' }} class="custom-control-input"
                id="{{item.id}}">
              <label class="custom-control-label" for="{{item.id}}">{{item.title}}</label>
            </div>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}