{% extends "header.html" %} {% block app_content %}

<link rel="stylesheet" href="/static/css/progress-circle.css">



<div class="modal" id="colour-picker-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change checklist colour</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="wheel" id="colorWheelDemo">

        </div>
      </div>
      <div class="modal-footer">
        <button id="save-colour" data-checklist-id="{{checklist.id}}" type=" button" class="btn btn-primary">Save
          checklist colour</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-2">
      <a href="{{url_for('checklists.view_checklists')}}" <button class="btn btn-lg btn-light"><i
          class="fa fa-chevron-left"></i> Back</button></a>
    </div>
    <div class="col-12 col-lg-10">
      <h1><i class="fa fa-clipboard-list"></i> {{checklist.title}}</h1>
    </div>
  </div>
  <hr>


  <!-- Admin can add a new checklist-->
  {% if current_user.is_admin %}
  <a href="{{url_for('checklists.add_checklist_item', checklist_id = checklist.id)}}"><button
      class="btn btn-lg btn-outline-success"><i class="fa fa-plus-circle"></i> Add new item</button></a>
  <a href="{{url_for('checklists.remove_checklist',checklist_id = checklist.id)}}"><button
      class="btn btn-lg btn-outline-danger"><i class="fa fa-trash"></i> Delete checklist</button></a>
  {% endif %}
  <button class="btn btn-lg btn-outline-primary" data-toggle="modal" data-target="#colour-picker-modal"><i
      class="fa fa-palette"></i> Change checklist
    colour</button>

  <br><br>
  <!-- Only show checklist items if they exist -->
  {% if checklist_info.checklist_items|length > 0 %}
  <div id="checklist-{{checklist.id}}" class="row">

    <!-- Widget with cirular progress bar-->
    <div class="col-12 col-md-4 text-center">
      <div class="counter">
        <div id="progress-circle" class="progress-circle progress-{{checklist.completed_progress_percentage}}">
          <span>{{checklist_info.completed_progress_percentage}}</span></div>
        <p class="card-text"><small class="text-muted">{{checklist_info.remaining_items}}
            {{'item' if checklist_info.remaining_items == 1 else 'items'}} remaining</small></p>
      </div>
    </div>

    <!-- Detailed checklist view-->
    <div class="col-12 col-lg-6">
      <div class="counter">
        <div class="container">
          <ul class="list-group">
            {% for item in checklist_info.checklist_items %}
            <div class="custom-control custom-checkbox">
              <input type="checkbox" {{ 'checked' if item.completed == True else '' }} class="custom-control-input"
                id="checklist-item-{{item.id}}">
              <label class="custom-control-label" for="checklist-item-{{item.id}}">{{item.title}}</label>
              <a href="{{url_for('checklists.remove_checklist_item',checklist_item_id = item.id)}}">
                <button class="btn btn-sm btn-outline-warning float-right"><i class="fa fa-trash"></i></button></a>
            </div>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}


<!-- Checklist submodule JS library -->
<script src="{{url_for ('checklists.load_js', filename = 'checklist.js')}}"></script>

<script src="https://cdn.jsdelivr.net/npm/@jaames/iro"></script>
<script>
  var colorWheel = new iro.ColorPicker("#colorWheelDemo", {
    // options here
  });

  
</script>

{% endblock %}